.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
  */
  margin: 0 auto;  
  width: 720px;
}

body {
	display: inline;
}
.content {
	width: 600px;
}
nav {
	float: right;
	height: 840px;
	padding-left: 25px;
	border-left: solid thin black;
}
ul {
	list-style: none;
}
.footer {
	border-top: solid thin black;
	text-align: center;
	width: 650px;
}
